
/* IMPORTING ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* REMOVING DEFAULT STYLINGS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* selecting images disabled */
img {
    user-select: none;
}

/* VARIABLES */
:root {
    /* UTILITIES */
    --dark-background-blue-color: #1f2937;
    --hero-main-text-font-size: 3rem; /* 48px */
    --hero-main-text-color: #f9faf8;
    --hero-secondary-text-font-size: 1.125rem; /* 18px */
    --hero-secondary-text-color: #e5e7eb;
    --header-link-text-color: var(--hero-secondary-text-color);
    --header-logo-text-font-size: 1.5rem; /* 24px */
    --button-blue-bg-color: #3882f6;
    --services-section-title-font-size: 2.25rem; /* 36px */
    --services-section-title-text-color: var(--dark-background-blue-color);
    --quote-section-bg-color: var(--hero-secondary-text-color);
    --quote-section-font-size: var(--services-section-title-font-size);
    --quote-section-text-color: var(--dark-background-blue-color);

    /* BREAKPOINTS */
    --LARGE-SCREENS-BREAKPOINT: 81.25rem; /* 1300pz */
    --MEDIUM-SCREENS-BREAKPOINT: 56.25rem; /* 900px */
    --SMALL-SCREENS-BREAKPOINT: 31.25rem; /* 500px */

    /* ANIMATIONS VARIABLES */
    --initial-delay: 500ms;
    --big-delay: 500ms;
    --medium-delay: 400ms;
    --little-delay: 300ms;
    --animations-duration: 500ms;

    /* OTHERS */
    --sections-max-width: 100rem; /* 1600px */
}

/* GENERAL PAGE STYLING */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* common declarations for each section */
section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* fixed size of each section on a page */
/* this keeps content centered even on the giant screen sizes */
.fixed-sections-width {
    width: min(100%, var(--sections-max-width));
}

/* utility class that will provide line animation in hover, focus, or active state */
.line-below-text::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: currentColor;
    transition: right 400ms ease;
}

.line-below-text:focus::after,
.line-below-text:hover::after,
.line-below-text:active::after,
.line-below-text.active::after {
    right: 0;
}

/* common stylings for contact me buttons on a page */
a[data-text="Contact me"]:link,
a[data-text="Contact me"]:visited,
a[data-text="About me"]:link,
a[data-text="About me"]:visited {
    width: max-content;
    font-weight: 400;
    padding: .8rem 1.6rem;
    border-radius: 0.625rem; /* 10px */
    text-decoration: none;
    position: relative;
}

a[data-text="Contact me"]::after,
a[data-text="About me"]::after {
    content: attr(data-text);
    position: absolute;
    inset: -2px;
    background-color: var(--button-blue-bg-color);
    color: var(--hero-main-text-color);
    font-weight: 400;
    padding: .8rem 1.6rem;
    border-radius: 0.625rem; /* 6px */
    transform: translate(0.375rem, 0.375rem);
    transition: transform 400ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

a[data-text="Contact me"]:hover::after,
a[data-text="Contact me"]:focus::after,
a[data-text="Contact me"]:active::after,
a[data-text="About me"]:hover::after,
a[data-text="About me"]:focus::after,
a[data-text="About me"]:active::after {
    transform: translate(0, 0);
}

/* custom scrollbar styling */
::-webkit-scrollbar {
    width: .7rem;
    background-color: var(--dark-background-blue-color);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: var(--dark-background-blue-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-blue-bg-color);
    border-radius: 0.625rem; /* 10px */
}

/* ANIMATIONS */
@keyframes slide-in {
    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}