
header {
    width: 100%;
    height: 4.375rem; /* 70px */
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-blue-color);
}

header ::selection {
    color: var(--dark-background-blue-color);
    background-color: var(--hero-main-text-color);
}

header > div {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

/* LOGO STYLING */
a.logo:link,
a.logo:visited {
    text-decoration: none;
    display: flex;
    gap: .5rem;
    align-items: center;
    transform: translateY(-5rem);
    animation-name: slide-in;
    animation-duration: 500ms;
    animation-delay: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.logo-img {
    width: 3.125rem; /* 50px */
    height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
}

.logo-img > img {
    width: 100%;
}

.logo-name {
    color: var(--hero-main-text-color);
    font-size: var(--header-logo-text-font-size);
    position: relative;
}

a.logo:focus .logo-name::after,
a.logo:hover .logo-name::after,
a.logo:active .logo-name::after {
    right: 0;
}

/* NAVBAR STYLING */
nav.large-screens {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(-5rem);
    animation-name: slide-in;
    animation-duration: 500ms;
    animation-delay: 700ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

nav.large-screens a:link, 
nav.large-screens a:visited {
    text-decoration: none;
    font-size: var(--hero-secondary-text-font-size);
    color: var(--hero-secondary-text-color);
    position: relative;
    padding: 0.3rem 0.6rem;
    font-weight: 400;
}

nav.small-screens {
    display: none;
    align-items: center;
    position: relative;
    transform: translateY(-5rem);
    animation-name: slide-in;
    animation-duration: 500ms;
    animation-delay: 700ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

nav.small-screens .menu-icon {
    background-color: var(--dark-background-blue-color);
    border: 0;
    height: 80%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 400ms ease;
}

nav.small-screens .menu-icon svg {
    width: 80%;
    height: 80%;
    stroke: var(--hero-main-text-color);
}

nav.small-screens .menu-icon:hover {
    transform: rotate(6deg) scale(1.1);
}

nav.small-screens .menu-icon:focus ~ .links {
    /* this can be potential issue if we would want to
    in future add more links, we will have to manually set
    the height of the .links container */
    height: 14.375rem; /* 230px */
    opacity: 1;
    pointer-events: initial;
}

nav.small-screens .links {
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: -2rem;
    background-color: var(--dark-background-blue-color);
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    transition: 
        height 400ms ease,
        opacity 400ms ease;
}

nav.small-screens .links a:link,
nav.small-screens .links a:visited {
    text-decoration: none;
    font-size: var(--hero-secondary-text-font-size);
    color: var(--hero-secondary-text-color);
    position: relative;
    padding: 0.4rem 0.8rem;
    font-weight: 400;
    margin: 1rem;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 56.25rem) {
    nav.large-screens {
        display: none;
    }
    nav.small-screens {
        display: flex;
    }
}

@media (max-width: 31.25rem) {
    header > div {
        padding: 0 .5rem;
    }
    nav.small-screens .links {
        right: -.5rem;
    }
}