
/* INTRO BANNER SECTION STYLING */
section.intro-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-blue-color);
}

section.intro-banner ::selection {
    color: var(--dark-background-blue-color);
    background-color: var(--hero-main-text-color);
}

section.intro-banner > div {
    display: flex;
    padding: 5rem 2rem 7rem;
    gap: 3rem;
}

/* INTRO BANNER TEXT STYLING */
.intro-banner-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.intro-banner-text h1 {
    font-size: var(--hero-main-text-font-size);
    color: var(--hero-main-text-color);
    font-weight: 900;
}

.intro-banner-text p {
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-font-size);
    font-weight: 300;
    line-height: 1.3;
}

.intro-banner-text a:link,
.intro-banner-text a:visited {
    background-color: var(--dark-background-blue-color);
    color: var(--dark-background-blue-color);
    font-size: var(--hero-secondary-text-font-size);
    border: 2px solid var(--button-blue-bg-color);
}

.intro-banner-text a::after {
    font-size: var(--hero-secondary-text-font-size);
}

/* INTRO BANNER IMAGE STYLING */
.intro-banner-image {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 1.875rem; /* 10px */
    box-shadow: 2px 2px 15px black;
}

.intro-banner-image img {
    display: block;
    width: 100%;
    height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 81.25rem) {
    .intro-banner-text {
        gap: 1rem;
    }
}