
/* PROPOSAL SECTIONS STYLING */
section.proposal {
    background-color: var(--hero-main-text-color);
}

section.proposal.gray-bg {
    background-color: var(--hero-secondary-text-color);
}

section.proposal ::selection {
    color: var(--button-blue-bg-color);
    background-color: var(--hero-secondary-text-color);
}

section.proposal > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
}

section.proposal > div.padding-top-omitted {
    padding-top: 2rem;
}

section.proposal .wrapper {
    background-color: var(--button-blue-bg-color);
    padding: 2.5rem 6rem;
    border-radius: 0.625rem; /* 30px */
    display: flex;
    gap: 3rem;
}

section.proposal .proposal-text {
    color: var(--hero-main-text-color);
}

section.proposal.gray-bg .proposal-text {
    color: var(--hero-secondary-text-color);
}

section.proposal .proposal-text h3 {
    font-size: var(--hero-secondary-text-font-size);
}

section.proposal .proposal-text p {
    font-weight: 300;
    margin-top: .2rem;
}

section.proposal a:link,
section.proposal a:visited {
    background-color: var(--button-blue-bg-color);
    color: var(--button-blue-bg-color);
    border: 0.125rem solid var(--hero-main-text-color);
}

section.proposal a::after {
    border: 0.125rem solid var(--hero-main-text-color);
}

/* MEDIA QUERIES */
@media (max-width: 81.25rem) {
    section.proposal > div {
        padding: 6rem 1rem;
    }
    section.proposal .wrapper {
        padding: 2.5rem 3rem;
        gap: 2rem;
    }
}

@media (max-width: 56.25rem) {
    section.proposal .wrapper {
        flex-direction: column;
    }
    section.proposal a {
        align-self: center;
    }
}

@media (max-width: 31.25rem) {
    section.proposal > div {
        padding: 4rem 1rem;
    }
    section.proposal .wrapper {
        padding: 2rem;
    }
}